.group-detail{
    margin-top: 20px;
}

.group-detail h3{
    margin: 0px;
}

.competition h2{
    margin-top: 0px;
}

table.competition-info td + td{
    padding-left: 10px;
}

table.competition-info tr td:first-child{
    font-weight: 600;
}